{% include "fashion/navbar.html" %}

{% block body %}

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                
                <br>
                <br>
                <br>
                <br>
                <form action="{% url 'register' %}" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br>
                    <button type="submit" class="btn btn-secondary">Register</button>
                </form>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
        </center>
    </div>
</div>

{% endblock %}
{% include "fashion/footer.html" %}